table{

    border: 1px solid black;
}
tr{
    border: 1px solid black; 
    padding: 1px;

}
th{
    border: 1px solid black;
    padding: 5px;
}
td{
    border: 1px solid #369;
    padding-top: 2px;
}
h3{
    text-decoration-color: #369;
}