<input type="radio"/>All{{getTotalEmployeesCount() }}
<input type="radio"/>Male{{getMaleTotalEmployeesCount() }}
<input type="radio"/>Female {{getFemaleTotalEmployeesCount() }}

<table>
  <thead>
    <tr>
      <th>Code</th><br/>
      <th>Firstname</th><br/>
      <th>Lastname</th><br/>
      <th>Gender</th><br/>
      <th>Location</th><br/>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let employee of employees">
      <td>{{employee.code}}</td><br/>
      <td>{{employee.firstname}}</td><br/>
      <td>{{employee.lastname}}</td><br/>
      <td>{{employee.gender}}</td><br/>
      <td>{{employee.location}}</td><br/>
    </tr>
    <tr *ngIf = "!employees || employees.length==0">
      <td> <h3> No records found </h3> </td>
  </tbody>
</table>