<table>
  <thead>
  <tr>
  
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>First Name:</td>
    <td>{{firstname}}</td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td>{{lastname}}</td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td>{{gender}}</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>{{location}}</td>
  </tr>
  </tbody>
</table>